#add ignore files for  git
# See https://help.github.com/articles/ignoring-files for more about ignoring files.

node_modules
docs
.env
add-students-script.js
add-students.html
face-api.md
test.ts
public/debug-test.html

dist
.vscode
.vscode-test
